<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tome.module_shop_cart" >

    <!--android:name属性——是用来设置所有activity属于哪个application的，默认是android.app.Application。-->
    <application
        android:name="com.dev.autosize.module_tato.MyApplication"
        android:allowBackup="true"
        android:label="tato模块"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <activity android:name="com.dev.autosize.module_tato.MainActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>

    </application>
</manifest>
